// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors

$gray: rgb(121, 120, 120);
$redish:#FF9770;
$blueish:rgb(86, 131, 181);
$greenish:rgb(86, 181, 108);
$orange: #ff9770;
$dark: #182231;
$blue: #3b98d5;
